body {
    transition: background-color 0.5s, color 0.5s;
}

.team-generator {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    /* color: var(--button-text-color, #e61c1c); */
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}




.team-generator button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #8a8a8a;  //* Color de fondo inicial 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s; /* Añadir transición suave para cambios */
}

.team-generator button:hover {
    /* background-color: #25ca7f; */ /* Color de fondo en hover */
    color: #ffffff; /* Color de texto en hover */
}

/* button:hover {
    background-color: var(--button-hover-background-color, #27002c81);
} */

.team-display {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-display {
    margin: 10px;
    text-align: center;
    position: relative;
    gap: 5vw;
}

.team-display img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.hero img:hover {
    transform: scale(1.1);
}

.hero .complexity {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
}

.hero img:hover + .complexity {
    display: block;
}
/* animacion nueva */

 /* 1nd borde animacion */ 


.animated_card,
.animated_card2 {
    display: grid;
    place-items: center;
    position: relative;
    height: 150px; 
    width: 150px; 
    background-color: #222;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px; 
}

.animacion {
    color: rgba(254, 254, 254, 0.1);
    font-size: 3rem; 
    z-index: 10;
}

.animated_card::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: tomato;
    border-radius: 15px;
    z-index: -1;
    transition: 0.3s;
    animation: animate 2s linear infinite;
}

.animated_card:hover::before {
    height: 120%;
    width: 120%;
}

@keyframes animate {
    50% {
        filter: hue-rotate(340deg);
    }
}

.animated_card2 {
    overflow: hidden;
}

.animated_card2::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 180%;
    background: #fff;
    transform: rotate(45deg);
}

.animated_card2:hover::before {
    animation: animate2 2s linear infinite;
}

@keyframes animate2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animated_card2::after {
    position: absolute;
    content: '';
    inset: 5px;
    background: #222;
    border-radius: 8px;
}





