
figcaption h3 {
    margin-bottom: 20px; /* Ajustar según sea necesario */
}

.pt-heroes .heroes-items .item figure figcaption .info-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    font-size: 24px;
    opacity: 0;
    transform: translateX(200%);
    transition: all .3s;
    cursor: pointer; /* Agregar un cursor para indicar que es interactivo */
}

.pt-heroes .heroes-items .item figure:hover .info-icon {
    opacity: 1;
    transform: translateX(0%);
}

.puto-detector p{
    color: yellow;
}