.hero {
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card-img-top {
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 15px;
    text-align: center;
}
